<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>521130274957-i2h7okch3pj6a32k2v3jl6u0va77cki7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.521130274957-i2h7okch3pj6a32k2v3jl6u0va77cki7</string>
	<key>API_KEY</key>
	<string>AIzaSyBpdE5-k7N4BDGkqxnCW1Mqi98t4DztAJ8</string>
	<key>GCM_SENDER_ID</key>
	<string>521130274957</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.reminders</string>
	<key>PROJECT_ID</key>
	<string>bulu-flutter-reminders</string>
	<key>STORAGE_BUCKET</key>
	<string>bulu-flutter-reminders.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:521130274957:ios:ff64f3406ce44e3becb2c4</string>
</dict>
</plist>